# RPCortex Package Config
pkg.name: Gpio
pkg.dev: dash1101
pkg.ver: 1.1.0
pkg.dir: /Packages/Gpio
pkg.desc: Drive and read GPIO pins from the shell (read/set/toggle/pwm/adc)
pkg.cmd: gpio:/Packages/Gpio/gpio.mpy:gpio
