# RPCortex Package Config
pkg.name: WebSearch
pkg.dev: dash1101
pkg.ver: 1.0.0
pkg.dir: /Packages/WebSearch
pkg.desc: Find information from the shell - DuckDuckGo instant answers + Wikipedia (search / wiki)
pkg.cmd: search:/Packages/WebSearch/websearch.py:search; wiki:/Packages/WebSearch/websearch.py:wiki
