# RPCortex Package Config
pkg.name: Calc
pkg.dev: dash1101
pkg.ver: 1.2.1
pkg.dir: /Packages/Calc
pkg.desc: Offline shell calculator (math + base conversion)
pkg.cmd: calc:/Packages/Calc/calc.mpy:calc
