# RPCortex Package Config
pkg.name: Calc
pkg.dev: dash1101
pkg.ver: 1.1.0
pkg.dir: /Packages/Calc
pkg.desc: Offline shell calculator (math + base conversion)
pkg.cmd: calc:/Packages/Calc/calc.py:calc
