# RPCortex Package Config
pkg.name: SysMon
pkg.dev: dash1101
pkg.ver: 2.1.0
pkg.dir: /Packages/SysMon
pkg.desc: Live system monitor — RAM/flash bars, WiFi, log tail, toggle panels
pkg.cmd: htop:/Packages/SysMon/sysmon.py:htop; sysmon:/Packages/SysMon/sysmon.py:htop
