# RPCortex Package Config
pkg.name: I2CScan
pkg.dev: dash1101
pkg.ver: 1.0.1
pkg.dir: /Packages/I2CScan
pkg.desc: Scan the I2C bus and identify common devices
pkg.cmd: i2cscan:/Packages/I2CScan/i2cscan.mpy:i2cscan; i2c:/Packages/I2CScan/i2cscan.mpy:i2cscan
